.event-details h1 {
    font-size: 48px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: -1%;
}

.event-details h3 {
    color: grey;
    font-weight: 400;
}

.event-details p {
    line-height: 1.5;
    letter-spacing: .01rem;
}

.event-category {
    padding-top: 2%;
}

.event-category h5 {
    text-transform: capitalize;
    padding-top: 5%;
    font-size: 12px;
}

.event_description {
    max-width: 730px;
}

.rsvp-btn {
  letter-spacing: 3px;
}
