.index-container {
    background:  linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(https://images.pexels.com/photos/374054/pexels-photo-374054.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100vh;
}

.index-container h1 {
    padding-top: 21%;
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 100;
    font-family: 'Quicksand', sans-serif;
    color: white;
}